# Note: comment out port if you want DNS services for systems on the network.
port=0
dhcp-range={{ broadcast_address }},proxy
log-dhcp
enable-tftp
tftp-root=/tftpboot
pxe-service=0,"Raspberry Pi Boot"

